footer {
  background-color: #723D46;
  font-size: small;
  font-style: italic;
  text-align: center;
  padding: 0;
}
.widefooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.wideFooter p, .wideFooter a{
  width: 32vw;
  text-align: center;
  word-wrap: normal;
}
.activeFooter {
  color: #D15664;
}
@media (width < 1200px) {
  #email {
    display: none;
  }
}
