form {
  width: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
}
.flexheader {
  font-weight: bold;
  width: 40%;
  text-align: left;
}
.flexitem {
  padding: 8px;
  font-weight: bold;
  text-align: right;
  width: 40%;
}
input[type=text], input[type=email], .datalist, input[type=number]{
  border-radius: .25vw;
  height: 3vh;
  width: 25em;
  background-color: #FFE1A8;
  color: #472D30;
  font-size: 15px;
}
#inquiry {
  font-size: 15px;
  width: 25em;
  height: 10em;
  background-color: #FFE1A8;
  color: #472D30;
  font-family: Montserrat;
}
input[type=submit] {
  background-color: #723D46;
  color: #FFE1A8;
  font-size: 1.5em;
  border: none;
  border-radius: 15px;
  width: 150px;
  height: 60px;
  margin-top: 15px;
}
input[type=submit]:hover {
  background-color: #90473B;
  cursor: pointer;
}
#info {
  text-align: center;
  padding-bottom: 5vh;
}
#errorMsg {
  text-align: center;
  color: #db4242;
}
.flash {
  animation-name: flashRed;
  animation-duration: .25s;
  animation-iteration-count: 4;
  }
@keyframes flashRed {
  0% {color: #db4242;}
  50% {color: #f26868;}
  100% {color: #db4242;}
  }
@media (width < 1500px) {
  form {
    margin-left: 25%;
  }
}
@media (width < 700px) {
  form {
    width: 70%;
    margin-left: 0;
  }
  input[type=text], input[type=email], .datalist, input[type=number]{
    width: 15em;
  }
  #inquiry {
    width: 15em;
  }
}
@media (width < 330px) {
  input[type=text], input[type=email], .datalist, input[type=number]{
    width: 12em;
  }
  #inquiry {
    width: 12em;
  }
}
