.slideshow-box {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}
.slide {
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}
@media (width < 500px) {
  .slide {
    width: 250px;
    height: 175px;
  }
}
