header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1em;
    font-size: 1.2em;
    color: #003296;
}

nav {
    margin: auto 0 auto 0;
    width: 80%;
    display: flex;
    justify-content: right;
    align-items: right;
}

nav > span {
    margin: auto 0 auto 0;
    text-align: center;
}

.contact {
    margin: auto 0 auto 0;
    width: 20vw;
    text-align: center;
    display: block;

}

#toggle {
    display: none;
}

#contact {
    display: none;
}

.active-page, .active-page-alternate {
  border-bottom: .33em solid;
  border-color: #89c129;
}

.active-page-alternate {
  border-color: #003296;
}

@media screen and (max-width: 1200px){
    nav {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .btn {
      padding: .375rem .5rem;
    }

    #toggle {
        display: flex;
        align-items: center;
    }

    .contact {
        display: none;
    }

    #contact {
        display: flex;
        align-items: center;
    }

}
@media screen and (max-width: 405px){
  .btn {
    padding: .375rem .25rem;
  }
}
@media screen and (max-width: 405px){
  .btn {
    padding: .375rem .25rem;
  }
}
