body {
  background: #a8f6ff;
}

.container,
.redrect, .whiterect, .redcross, .darkcross, .lightcross, .redcirc, .darkcirc, .lightcirc, .vioval, .bigring, .smallring, .bigfill, .smallfill, .dot, .smallcross, .vi, .vil, .vir, .vii, .symbol {
  position: absolute;
}

.symbol {
  top: -109.5px;
  left: -266px;
  z-index: 15;
}

img {
  height: 30px;
  width: 28px;
}

.container {
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  height: 100px;
}
text {
  font-size: 35px;
  font-weight: bolder;
  fill: #000000;
}
svg {
  transform: translateX(-293.6px) translateY(-168.25px);
  position: absolute;
  z-index: 10;
}
.redrect {
  top: -200px;
  left: -360px;
  width: 900px;
  height: 600px;
  background: #D0142C;
  z-index: -5;
}
.whiterect {
  top: -200px;
  left: -360px;
  width: 450px;
  height: 600px;
  background: #fff;
  z-index: -4;
}
.redcross {
  top: -175px;
  left: -272.5px;
  width: 37.5px;
  height: 162.5px;
  background: #D0142C;
}
.redcross.agane {
  transform: rotate(.25turn);
}
.darkcross {
  top: -173px;
  left: -270.5px;
  width: 33.5px;
  height: 158.5px;
  background: #96877d;
}
.darkcross.agane {
  transform: rotate(.25turn);
}
.lightcross {
  top: -171px;
  left: -268.5px;
  width: 29.5px;
  height: 154.5px;
  background: #cccccc;
}
.lightcross.agane {
  transform: rotate(.25turn);
}
.redcirc {
  top: -130px;
  left: -290px;
  width: 72.5px;
  height: 72.5px;
  border-radius: 100%;
  background: #D0142C;
  z-index: -3;
}
.darkcirc {
  top: -128px;
  left: -288px;
  width: 68.5px;
  height: 68.5px;
  border-radius: 100%;
  background: #96877d;
  z-index: -2;
}
.lightcirc {
  top: -126px;
  left: -286px;
  width: 64.5px;
  height: 64.5px;
  border-radius: 100%;
  background: #cccccc;
  z-index: -1;
}
.bigring {
  top: -116px;
  left: -275px;
  width: 43.75px;
  height: 43.75px;
  border-radius: 100%;
  background: #96877d;
  z-index: 1;
}
.bigfill {
  top: -115.5px;
  left: -274.5px;
  width: 42.75px;
  height: 42.75px;
  border-radius: 100%;
  background: #cccccc;
  z-index: 2;
}
.smallring {
  top: -109.75px;
  left: -268.5px;
  width: 31.25px;
  height: 31.25px;
  border-radius: 100%;
  background: #96877d;
  z-index: 3;
}
.smallfill {
  top: -109.25px;
  left: -268px;
  width: 30.25px;
  height: 30.25px;
  border-radius: 100%;
  background: #cccccc;
  z-index: 4;
}
.vioval {
  top: -121px;
  left: -283px;
  width: 18.5px;
  height: 15.5px;
  border-radius: 100%;
  background: #96877d;
  transform: rotate(.375turn);
}
.vioval.tr {
  transform: rotate(.125turn) translateX(27.5px) translateY(-28.5px);
}
.vioval.bl {
  transform: rotate(.125turn) translateX(27.5px) translateY(27.5px);
}
.vioval.br {
  transform: rotate(.375turn) translateX(-.25px) translateY(-55.75px);
}
.dot {
  top: -79px;
  left: -263px;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background: #000000;
  z-index: 5;
}
.dot.agane {
  transform: translateX(16px);
}
.smallcross {
  top: -78px;
  left: -254px;
  width: 1px;
  height: 5px;
  border-radius: 100%;
  background: #000000;
  z-index: 5;
}
.smallcross.agane {
  transform: rotate(.25turn);
}
.vil {
  top: -114px;
  left: -277px;
  width: 1.5px;
  height: 7px;
  border-radius: 100%;
  background: #cccccc;
  z-index: 9;
  transform: rotate(.315turn);
}
.vir {
  top: -115.5px;
  left: -275.5px;
  width: 1.5px;
  height: 7px;
  border-radius: 100%;
  background: #cccccc;
  z-index: 6;
  transform: rotate(.44turn);
}
.vii {
  top: -118.5px;
  left: -272.5px;
  width: 1.5px;
  height: 7px;
  border-radius: 100%;
  background: #cccccc;
  z-index: 6;
  transform: rotate(.4turn);
}
.vi.tr {
  transform: rotate(.3turn) translateX(239px) translateY(371px);
}
.vi.bl {
  transform: rotate(.75turn) translateX(348px) translateY(-160px);
}
.vi.br {
  transform: rotate(.5turn) translateX(508px) translateY(187px);
}
